.App {
  text-align: center;
}

.wrapper{
  display: flex;
  justify-content: center;
}
.input-block{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 50%;
  margin: 25px;
  padding: 15px;
  outline: none;
  font-size: 24px;
  border-radius: 5px;
}
.pluses input{
  border:2px solid #1dc534;
}
.minuses input{
  border:2px solid #d53838;
}
.pluses input:focus{
  filter: drop-shadow(1px 1px 5px #1dc534);
}
.minuses input:focus{
  filter: drop-shadow(1px 1px 5px #d53838);
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #282c34;
  filter: drop-shadow(1px 1px 5px #282c34);
}
.pluses span{
  color:#1dc534;
}
.minuses span{
  color: #fb5858;
}
